<div class="page">
  <section class="page__section">
    <div class="wrapper">
      <div class="page__block">
        <div class="page__text center">
          <h2>Feedback</h2>
          <div class="feedback">
            <form class="form">

              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="name" placeholder="Name*">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="phoneNumber" placeholder="Phone*">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="email" placeholder="Email*">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="commentary" placeholder="Commentary">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <div class="form__group">
                    <button class="button" value="feedback">Send</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
