@using Demosite.ViewModels.SearchBar;
@model SearchBarViewModel;

<form asp-action="Search" asp-controller="SearchResultPage" asp-antiforgery="false" asp-route-withCorrect = "true" class="search-form ">
    <div class="form__row search-form__row ">
        <div class="search-input autoComplete_wrapper">
            <input asp-for="Query" required minlength="3" maxlength="100" class="form-control autoComplete" size="16" autocomplete="off" novalidate>
        </div>
        <div class="search-btn__wrapper">
            <button class="search-btn" type="submit">Найти</button>
            <div class="search-btn__fake"></div>
        </div>
    </div>
    <div class="search-form__error search-form__error--hidden">Минимальная длина 3 символа</div>
</form>


