@using MTS.IR.ViewModels.Helpers
@model MTS.IR.Models.Pages.TextPage

@if (!Model.HideTitle)
{
  var bredCrumbs = Model.GetBreadCrumbs();
  <!-- bradcam_area  -->
  @Html.Raw("<div class=\"page\">")

  <div class="wrapper">
    @await Html.PartialAsync("../_BreadCrumbs.cshtml", bredCrumbs)
  </div>
  <!-- /bradcam_area  -->
}

@await Component.WidgetZone(Html, "Content")

@if (!String.IsNullOrWhiteSpace(Model.Text))
{

  @await Component.RenderZonesInText(Html, Model.Text)

}

@await Component.WidgetZone(Html, "ContentBelow")

@if (!Model.HideTitle)
{
  @Html.Raw("</div>")
}
