@model Demosite.ViewModels.FoldBoxListViewModel
@{
  if (Model.SlidesToShow != null)
  {
    TempData["slidesToShowTabs"] = Model.SlidesToShow;
  }
  var isActive = true;
}

<section class="foldbox">
  <div class="wrapper">
    <h2 class="h2">@Model.Header</h2>
    <div class="page__block">
      <div class="tabs" data-tabs>
        <div class="tabs__nav">
          <div class="tabs__nav-box">
            @foreach (var item in Model.Items)
            {
              <div class="@(isActive ? Html.Raw("tabs__nav-item active") :  Html.Raw("tabs__nav-item"))" data-tabs-nav-item=@item.Id>@item.Title</div>
              isActive = false;
            }

          </div>
        </div>
        <div class="tabs__box">
          @foreach (var item in Model.Items)
          {
            <div class="tabs__item" data-tabs-item=@item.Id>
              <div class="tabs__item-box">
                <div class="card-slider">
                  @Html.Raw(item.Text)
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
