<div class="page">
  <section class="page__section">
    <div class="wrapper">
      <div class="page__block">
        <h1 class="h1 center">Your Email @(ViewBag.IsConfirmed ? "is confirmed" : "is not confirmed")</h1>
        <div class="page__text center">
          <p>@ViewBag.TextConfirmed</p>
        </div>
      </div>
    </div>
  </section>
</div>
