@model IEnumerable<MTS.IR.ViewModels.MenuItem>
@using Microsoft.AspNetCore.Html

@{
  Func<dynamic, IHtmlContent> ShowTree(IEnumerable<MTS.IR.ViewModels.MenuItem> items) =>
  @<ul>
    @foreach (var item in items)
    {
      <li>
        <a href=@item.Href><p style=@Html.Raw(item.Children.Any() ? "color:red;":"color:blue;")>@item.Title</p></a>
        @if (item.Children.Any())
        {
          @ShowTree(item.Children)(null)
        }
      </li>
    }
  </ul>;
}
<section class="page__section">
  <div class="wrapper">
    <div>
      @ShowTree(@Model)(null)
    </div>
  </div>
</section>
