@using Demosite.ViewModels.Helpers
@model Demosite.Models.Pages.TextPage

@if (!Model.HideTitle)
{
    var bredCrumbs = Model.GetBreadCrumbs();
    @Html.Raw("<div class=\"page\">")

    <!-- bradcam_area  -->
    <div class="wrapper">
        @await Html.PartialAsync("../_BreadCrumbs.cshtml", bredCrumbs)
    </div>
    <!-- /bradcam_area  -->
}

@await Component.WidgetZone(Html, "Content")

@if (!String.IsNullOrWhiteSpace(Model.Text))
{

    @await Component.RenderZonesInText(Html, Model.Text)

}

@await Component.WidgetZone(Html, "ContentBelow")

@if (!Model.HideTitle)
{
    @Html.Raw("</div>")
}
