@model MTS.IR.ViewModels.BannerListViewModel

<section class="page__section">
  <div class="wrapper">
    <div class="banner-slider">
      <div class="banner-slider__box">
        <div class="banner-slider__slides" data-banner-slider data-autoplay-speed="@(Model.SwipeDelay ?? 2000)">
          @foreach (var item in Model.Items)
          {
            @if (string.IsNullOrEmpty(item.ImageUrl))
            {
              @Html.Raw(item.Text)
            }
            else
            {
              var url = string.IsNullOrEmpty(item.Url) ? "#" : item.Url;
              <a class="banner-slider__item" href=@url>
                <img class="banner-slider__image-desktop" src=@item.ImageUrl>
                <img class="banner-slider__image-mobile" src=@item.ImageUrl>
              </a>

            }
          }
        </div>
      </div>
    </div>
  </div>
</section>
