<div class="page">
  <section class="page__section">
    <div class="wrapper">
      <div class="page__block">
        <h1 class="h1 center">Ваша подписка @(ViewBag.IsConfirmed ? "подтверждена" : "не подтверждена")</h1>
        <div class="page__text center">
          <p>@ViewBag.TextConfirmed</p>
        </div>
      </div>
    </div>
  </section>
</div>
