@using  Demosite.Services.Settings;
@inject CaptchaSettings captchaSettings

<div class="page">
  <section class="page__section">
    <div class="wrapper">
      <div class="page__block">
        <div class="page__text center">
          <div class="subscribe">
            <form class="form">
              <div class="form__row">
                <div class="form__field">
                  <div class="form__group">
                    <div class="radio">
                      <label class="radio__label">
                        <input class="radio__input" type="radio" checked name="gender" value="m"><span class="radio__marker"></span><span class="radio__text">Dear Sir</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="radio__label">
                        <input class="radio__input" type="radio" name="gender" value="f"><span class="radio__marker"></span><span class="radio__text">Dear Madam</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="firstName" placeholder="First name*">
                </div>
                <div class="form__field">
                  <input class="input" type="text" name="lastName" placeholder="Last name*">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <input class="input" type="text" name="company" placeholder="Company*">
                </div>
                <div class="form__field">
                  <input class="input" type="text" name="email" placeholder="Email*">
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <div class="select">
                    <div class="select__group">
                      <div class="select__box">
                        <select id="country" name="country">
                          <option value="Russia">Russia</option>
                          <option value="USA">USA</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__field">
                  <div class="select">
                    <div class="select__group">
                      <div class="select__box">
                        <select id="activity" name="activity">
                          <option name="category1" value="" selected="" disabled="">Activity</option>
                          <option name="category2" value="individual_investor">Individual investor</option>
                          <option name="category3" value="buy-side_analyst">Buy-side analyst</option>
                          <option name="category4" value="sell-side_analyst">Sell-side analyst</option>
                          <option name="category5" value="portfolio_manager">Portfolio manager</option>
                          <option name="category6" value="broker">Broker</option>
                          <option name="category7" value="employee">Employee</option>
                          <option name="category8" value="media">Media</option>
                          <option name="category9" value="other">Other</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <div class="form__group" id="newsCategory" name="checkboxes">
                    <div class="checkbox">
                      <label class="checkbox__label">
                        <input class="checkbox__input" type="checkbox" checked value="9"><span class="checkbox__marker"></span><span class="checkbox__text">Press releases</span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <label class="checkbox__label">
                        <input class="checkbox__input" type="checkbox" value="10"><span class="checkbox__marker"></span><span class="checkbox__text">Blog</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__field">
                  <div class="form__group">
                    <div class="form__captcha" data-captcha data-captcha-defaultkey="@captchaSettings.DefaultKey">
                      <div class="form__captcha-code">
                        <img class="img-rounded" src='/captcha' alt="" />
                      </div>
                      <div class="form__captcha-input">
                        <input class="input" type="text" name="tokencaptcha" placeholder="Captcha code">
                      </div>
                      <div class="form__captcha-btn">
                        <button class="button button--refresh" value="captcha"><img src="~/static/images/refresh.svg" alt=""></button>
                      </div>
                    </div>
                    <button class="button" value="subscribe" name="action_subscribe">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
